/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #3b4b54; 
	color: #ffffff;
}


table {
	table-layout: fixed;
	/*width: 800px;*/
	margin: 0 auto;
	word-wrap: break-word;
	/*padding-top:10%;*/
}

th {
	border-bottom: 1px solid #000;
}

th, td {
	text-align: left;
	padding: 2px 20px;
}

.env-var {
	text-align: right;
	border-right: 1px solid #000;
	width: 30%;
}

pre {
	padding: 0;
	margin: 0;
}

.lineinput {
	background: transparent;
    color: lightgray;
    border: 0px solid lightgray;
    border-radius: 0px;
    border-bottom: 1px solid lightgray;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px
}

